form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

print {
    size: 10px;
    color: darkturquoise;
    background-color: bisque;
}